.product {
    border: 1px solid blue;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.review{
    background: blueviolet;
    border: 1px solid hotpink;
    width: 400px;
}
img{
    width: 200px;
    display: block;
}
